// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#onkyo{
  width: 700px;

}
header {
  padding: 3px;
  
  height: 95px;
  min-width: 1100px;
}
#wrapper_menu_icon {
  width: 80%;
  margin: 5px auto 0;
  height: 90px;
}
#wrapper_menu_icon img {
  width: 68px;
}
.menu_icon {
  margin-right: 9%;
}