// Place all the styles related to the yozawiza controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
　　　　　　　　　　　　　　　PC版
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*------------------------------------
　全体
--------------------------------------*/
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



/*------------------------------------
　ヘッダー
--------------------------------------*/
#y_header{
  background-color: black;
  height: 30px;
 
  padding-bottom: 8px;
}
#y_header p{
  margin-top: auto;
  margin-left: 20px;
  font-size: 25px;
}
#y_header a{
  color: white;
  letter-spacing: 1px;
}
.fb-share-button{
  float: right;
}
.fb-share-button img{
  height: 20px;
  width: 78px;
margin-right: 20px;
margin-top: 4px;
}
#sns_wrapper{
  margin-right: 20px;
  height: 40px;
  width: 400px;
  position: relative;
  bottom: 59px;
  float: right;
}

/*------------------------------------
　メニュー
--------------------------------------*/
#yoza_back{
  background-color: black;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
#wrapper_yoza_menu{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  position: relative;
  left: 28px;
}
#wrapper_yoza_menu img {
  height: 20px;
}
.yoza_button {
  height: 20px;
  float: left;
  margin-right: 90px;
}
.yoza_button:last-child{
  margin-right: 0;
}

/*------------------------------------
　トップ
--------------------------------------*/
#top_main{
    height: 90%;
    width: 100%;
    margin-bottom: -90px;
    position: relative;
}
#top_main video{
  position: fixed;
  top: -10%;
  left: -10%;
  right: 0;
  min-width: 120%;
  min-height: 150%;
  z-index: -1;
}
#y_logo{
  width: 70%;
  height: 50%;
  margin: 0 auto;
  padding-right: 70px;
}
#y_logo img{
  height: 300px;
}
#y_button img{
    width: 260px;
    float: right;
    margin-right: 80px;
    margin-top: 50px;
}

/*------------------------------------
 コンテンツ
--------------------------------------*/
#box{
  width: 60%;
  height: 60%;
  padding: 50px 100px;
  background: rgba(0,0,0,0.52);
  position: absolute;
  top: 0;
  bottom: 15px;
  right: 0;
  left: 0;
  margin: auto;
}
#box h1{
  text-align: center;
  color: white;
}
#box p{
  text-align: center;
  font-size: 15pt;
  line-height: 30pt;
  color:white;
  position: relative;
  bottom: 60px;
}

#box_title{
  text-align: center;
  margin: 0 auto;
  height: 28px;
}

#box_title img{
height: 28px;
}

/*------------------------------------
　アバウト
--------------------------------------*/
#about_main{
    height: 180%;
    width: 100%;
    position: relative;
}
#about_main img#about_img{
  position: fixed;
  top: -2%;
  left: -8%;
  right: 0;
  min-width: 120%;
  min-height: 150%;
  z-index: -1;
}
#about_box{
  width: 60%;
  height: 75%;
  padding: 50px 100px;
  background: rgba(0,0,0,0.52);
  position: absolute;
  top: 0;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: auto;
}
#about_box p{
  text-align: center;
  font-size: 15pt;
  line-height: 25pt;
  color:white;
  position: relative;
  top: 50px;
}
#about_box p#mini{
  font-size: 13pt;
  line-height: 20pt;
  position: relative;
  top: 115px;
}
#about_footer {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: -92%;
}
#about_footer a{
  color: white;
  font-size: 20px;
}
#about_footer p{
    color: white;
}

/*------------------------------------
　システム
--------------------------------------*/
#system_main{
    height: 360%;
    width: 100%;
    margin-bottom: -90px;
    position: relative;
}
#system_main img#system_img{
  position: fixed;
  top: -10%;
  left: -24%;
  right: 0;
  min-width: 120%;
  min-height: 150%;
  z-index: -1;
}
#system_box{
  width: 60%;
  height: 85%;
  padding: 50px 100px;
  background: rgba(0,0,0,0.52);
  position: absolute;
  top: 0;
  bottom: 60px;
  right: 0;
  left: 0;
  margin: auto;
}
#system_box p{
  font-size: 15pt;
  line-height: 20pt;
  color:white;
}
#system_box a{
  text-align: center;
  font-size: 15pt;
  line-height: 30pt;
}
#kihon{
  position: relative;
  top: 20px;
}
#wizard{
  margin-bottom: 100px;
  position: relative;
  top: 100px;
}
#img_wrapper{
  text-align: center;
  height: 220px;
  width: 100%;
  position: relative;
  top: 60px;
  left: 10px;
  
}
.img{
  margin-left: 7%;
  position: relative;
  left: 5%;
  width: 40%;
  float: left;
  padding-top: 18%;
}
.img a{
  text-align: center;
  color: white;
  margin-top: 5px;
}
.img img{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 75%;
}
.img img#steam{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 120%;
}
.img:first-child{
  margin-left: 0;
}
#system_footer {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: -272%;
}
#system_footer a{
  color: white;
  font-size: 20px;
}
#system_footer p{
    color: white;
}

/*------------------------------------
　スペック
--------------------------------------*/
#spec_main{
    height: 120%;
    width: 100%;
    margin-bottom: -90px;
    position: relative;
}
#spec_main img#spec_img{
  position: fixed;
  top: -10%;
  left: -20%;
  right: 0;
  min-width: 120%;
  min-height: 150%;
  z-index: -1;
}
#spec_box{
  width: 60%;
  height: 65%;
  padding: 50px 100px;
  background: rgba(0,0,0,0.52);
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
}
#spec_box p{
  text-align: center;
  font-size: 15pt;
  line-height: 30pt;
  color:white;  
}
#spec_footer {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: -32%;
}
#spec_footer a{
  color: white;
  font-size: 20px;
}
#spec_footer p{
    color: white;
}

/*------------------------------------
　ムービー
--------------------------------------*/
#movie_main{
    height: 90%;
    width: 100%;
    margin-bottom: -90px;
    position: relative;
}
#movie_main img#movie_img{
  position: fixed;
  top: -10%;
  right: 0;
  min-width: 100%;
  min-height: 120%;
  z-index: -1;
}
#video_wrapper{
  text-align: center;
  height: 0;
  width: 120%;
  position: relative;
  top: 60px;
  right: 90px;
  }

.video{
  margin-left: 12%;
  position: relative;
  left: 5%;
  width: 40%;
  padding-top: 30%;
  float: left;
}
.video p{
  text-align: center;
  color: white;
  position: relative;
  bottom: 50px;
  font-size: 15pt;
}
.video iframe{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 70%;
}
.video:first-child{
  margin-left: 0;
}
#movie_box{
  width: 60%;
  height: 60%;
  padding: 50px 100px;
  background: rgba(0,0,0,0.52);
  position: absolute;
  top: 0;
  bottom: 15px;
  right: 0;
  left: 0;
  margin: auto;
}
#box_movietitle{
  text-align: center;
  margin: 0 auto;
  height: 28px;
  position: relative;
  right: 15px;
}

#box_movietitle img{
height: 28px;
}

/*------------------------------------
　フッター
--------------------------------------*/
#y_footer {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: -2px;
}
#y_footer a{
  color: white;
  font-size: 20px;
}
#y_footer p{
    color: white;
}
#f_pronti{
  width: 400px;
  height: 35px;
  float: left;
}
#f_text{
  width: 200px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
}
.clear{
    clear: both;
}